.contact {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px black;
    margin: auto;
}

.contact:hover {
    border-radius: 2px;
    box-shadow: 0px 0px 5px black;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: lightgray;
}

.center {
    margin: auto;
}

.chatDisplay {
    margin: auto;
}