.title {
    background-color: lightgrey;
    color: black;
    box-shadow: 0px 0px 3px grey;
}

.name {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 0px 10px -2px grey;
    width: fit-content;
    margin: auto;
    background-color: white;
    display: inline-block;
}