.App {
  text-align: center;
}

.logo {
  height: 100%;
}

.App-header {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
  height: 150px;
  padding: 20px;
}

.bannerOverlay {
  height: 50px;
  float: center;
  width: fit-content;
  padding: 20px;
  position: absolute;
}

.App-intro {
  font-size: large;
  background-color: #222;
  box-shadow: 0px 0px 3px grey;
  padding: 20px;
  color: white;
}

.infoBanner {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 0px 3px grey;
  /*margin-top: 50px;*/
  margin-bottom: 50px;
}

.infoBannerHeader {
  padding: 20px;
  /*margin-bottom: 10px;*/
  background-color: #222;
  color: white;
}

#mapContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -10;
}

.divBtn {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 30px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 0px 3px grey;
  font-size: 30px;
  transition-duration: 0.3s;
}

.divBtn:hover {
  cursor: pointer;
  border-radius: 5px;
  color: red;
  max-width: 300px;
  transition-duration: 0.3s;
}

.stayBottom {
  width: 100%;
  pointer-events: visible;
}

#mapHiderAbs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -5;
}

#mapHiderFix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -5;
}

#moreInfo {
  margin-top: 10px;
}


.mapSpace {
  position: absolute;
  top: 190vh;
}

.banners {
  position: absolute;
  top: 190vh;
  width: 100%;
}

.chatButton {
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.greyedOut {
  background-color: gray;
  color: dimgray;
  cursor: default;
}

.infoWindow {
  position: relative;
  bottom: 200px;
  width: fit-content;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 14px;
  z-index: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.typeDisplay {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mapBottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

hr {
  opacity: 50%;
}

.ddTable {
  margin: auto;
  width: 70%;
}

.ddTh, .ddTd {
  padding: 20px;
  width: 50%;
}

.ddTh {
  font-size: 20px;
  color: white;
  border-radius: 10px;
}

.need {
  background-color: red;
}

.have {
  background-color: green;
}

.dropdown {
  box-shadow: 0px 0px 5px grey;
  padding: 10px;
  border-radius: 10px;
  background-color: darksalmon;
  cursor: pointer;
  text-decoration: none;
}

.dropdown:hover {
  box-shadow: 0px 0px 3px black;
  background-color: salmon;
  transition-duration: 0.2s;
}

.ddOptions {
  position: absolute;
  background-color: tomato;
  box-shadow: 0px 0px 5px grey;
  width: 100%;
  border-radius: 10px;
  z-index: 20;
}

.ddOption {
  padding: 10px;
  border-radius: 10px;
}

.ddOption:hover {
  background-color: coral;
  transition-duration: 0.2s;
  cursor: pointer;
}

.dropdownContainer {
  width: 200px;
  margin: auto;
  position: relative;
}

.red {
  color: red;
  display: inline;
}

.userOptions {
  position: absolute;
  display: inline-block;
  right: 20px;
}

.userDisplay {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.userDisplay:hover {
  cursor: pointer;
  background-color: dimgrey;
  transition-duration: 0.3s;
}

.button {
  box-shadow: 0px 0px 5px grey;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: darksalmon;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 0px 3px black;
  background-color: salmon;
  transition-duration: 0.2s;
}