.chatContainer {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    border: 2px grey solid;
    box-shadow: 0px 0px 5px 2px black;
    position: fixed;
    z-index: 999;
    width: 300px;
    bottom: 0;
    right: 40px;
    padding: 5px;
}

.chatBox {
    min-height: 300px;
    max-height: 300px;
    height: 300px;
    justify-content: center;
}

.chatContent {
    overflow-y: auto;
    max-height: 270px;
}

.messages {
    min-height: 270px;
    width: 100%;
}

.messageBox {
    width: 90%;
}

.clickable {
    cursor: pointer;
    padding: 3px;
    border-radius: 2px;
    transition-duration: 0.2s;
}

.clickable:hover {
    background-color: lightgray;
    transition-duration: 0.2s;
}

.unread {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: lightcoral;
    }
}

.me {
    background-color: blue;
    float: right;
    color: white;
    text-align: right;
}

.you {
    background-color: grey;
    float: left;
    color: black;
    text-align: left;
}

.msg {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.fw {
    width: 100%;
}

.fail {
    background-color: lightcoral;
}

.error {
    font-size: 10px;
    color: red;
}

.loadBtn {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: 10px;
}

.loadBtn:hover {
    background-color: grey;
    cursor: pointer;
}

.loadBtnDisable:hover {
    cursor: default;
    background-color: white;
}