.chatIcon {
    display: inline-block;
    font-size: 20px;
    /*margin-left: 10px;*/
    padding: 10px;
    border-radius: 10px;
}

.chatIcon:hover {
    cursor: pointer;
    background-color: dimgrey;
    transition-duration: 0.3s;
}

.notif {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: -10%;
    right: -10px;
}